<div class="row">
	<div class="col-md-12">
		<h2>購物車</h2>
		<%= link_to "清空購物車", clean_carts_path, method: :delete, class: "label label-info pull-right"  %>
		<br></br>
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="2">商品資訊</th>
					<th>數量</th>	
					<th>價錢</th>	
					<th>小計</th>
					<th>Option</th>
				</tr>
			</thead>
			<tbody>
				<% current_cart.items.each do |product| %>
					<tr>
						<td width="220">
							<%= link_to product do  %>
								<%= image_tag(product.image.url(:thumb), class: "thumbnail" ) %>
							<% end %>
						</td>
						<td><%= link_to product.title, product %></td>
						<td>
						<% item = current_cart.find_cart_item(product) %>
						<%= form_for item, url: item_path(product) do |f| %>
							<%= f.select :quantity, 1..product.quantity %>
							<%= f.submit "更新", class: "btn btn-danger btn-xs" %>
						<% end %>
						</td>
						<td><%= product.price %></td>
						<td><%= item.quantity * product.price %></td>
						<td>
						<%= link_to item_path(product), method: :delete do %>
						<i class="fa fa-trash-o fa-lg"></i>
						<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<br>
		<div class="total clearfix">
			<span class="pull-right"> 總計 <%= render_total_price(current_cart) %> NTD</span>
		</div>

		<hr>

		<div class="checkout clearfix">
			<%= link_to "確認結帳", checkout_carts_path, method: :post, class: "btn btn-danger pull-right"  %>
		</div>

	</div>
</div>