<div class="row">
	<div class="col-md-12">
		<h2>購物車</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="2">商品資訊</th>
					<th>數量</th>	
					<th>價錢</th>	
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<% current_cart.items.each do |product| %>
					<tr>
						<td width="220">
							<%= link_to product do  %>
								<%= image_tag(product.image.url(:thumb), class: "thumbnail" ) %>
							<% end %>
						</td>
						<td><%= link_to product.title, product %></td>
						<td><%= product.quantity %></td>
						<td><%= product.price %></td>
						<td><%= product.quantity * product.price %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<br>
		<div class="total clearfix">
			<span class="pull-right"> 總計 <%= render_total_price(current_cart) %> NTD</span>
		</div>

		<hr>

		<div class="checkout clearfix">
			<%= link_to "確認結帳", checkout_carts_path, method: :post, class: "btn btn-danger pull-right"  %>
		</div>

	</div>
</div>