<!DOCTYPE html>
<html>
<head>
  <%= render_page_title_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <%= render 'common/post' %> -->
	
<div class="container">
  <%= render "common/navbar" %>
  <%= notice_message %>
<ul class="nav nav-tabs">
  <li role="nagivation"><%= link_to "Products List", products_path %></li>
  <li role="presentation"><%= link_to "Brand Zone", brands_path %></li>
</ul>
<br>
<%= yield %>

</div>

</body>
</html>
 <!-- # | <%= yield(:title) %> -->